<section class="thirteen columns">
    <h1>BIOGRAPHY</h1>
    <article>
        I am a second-year Ph.D. student at Carnegie Mellon University, Mechanical Engineering Department. My research interest lies at the surface and interface modification of materials, especially in lithium ion batteries, under the guidance of Prof. B. Reeja Jayan.To be a little bit more specific, a novel technique called initiated chemical vapor depostion (iCVD) polymerizaiton is applied to engineer the surface of cathode electrodes with nanoscale polymer thin film. I aim to apply this novel technique to improve the performance of lithium ion batteries like life-span, rate capability, and safety. 
    </article>
</section>
